#feedback-note-tmp {
  width: 444px;
  height: auto;
  min-height: 90px;
  outline: none;
  padding: 4px;
}
#feedback-note-tmp:focus,
#feedback-overview-note:focus {  border: 1px solid #64b7cc }
#feedback-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.feedback-helper {
  background: rgba(0,0,0,0);
  cursor: default;
}
.feedback-helper[data-type="highlight"]>.feedback-helper-inner {  background: rgba(0,68,255,0.1) }

#feedback-overview-error {
  display: none;
  color: #f13e3e;
  float: right;
  margin-right: 30px;
  line-height: 29px;
}
#feedback-overview-error {  margin-top: 20px }
#feedback-highlighter {
  display: none;
  bottom: 100px;
  right: 100px;
  position: fixed;
  width: 540px;
  height: 275px;
}
#feedback-overview {
  display: none;
  top: 10%;
  left: 50%;
  margin-left: -420px;
  position: fixed;
  width: 840px!important;
  height: auto;
}
#feedback-submit-error,
#feedback-submit-success {
  top: 30%;
  left: 50%;
  margin-left: -300px;
  display: block;
  position: fixed;
  width: 600px;
  height: auto;
}
#feedback-note-tmp,
#feedback-overview-note {  resize: none }
#feedback-welcome,
#feedback-highlighter,
#feedback-overview,
#feedback-submit-success,
#feedback-submit-error {
  z-index: 40000;
  background: #fff;
  border: 1px solid rgba(0,0,0,.333);
  padding: 30px 42px;
  width: 540px;
  border: 1px solid rgba(0,0,0,.333);
  outline: 0;
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  box-shadow: 0 4px 16px rgba(0,0,0,.2);
  background: #fff;
  background-clip: padding-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transform: translateZ();
}
#feedback-highlighter label {
  float: left;
  margin: 0 0 0 10px;
  line-height: 30px;
}
#feedback-highlighter label.lower {  margin-top: 10px }

#feedback-overview-description {  float: left }
#feedback-overview-note {
  width: 314px;
  padding: 4px;
  height: 90px;
  outline: none;
}
#feedback-overview-screenshot {  float: right }
.feedback-screenshot {
  max-width: 396px;
  padding: 1px;
  border: 1px solid #adadad;
}
